
<<<<<<< HEAD
.closeCanvas {
    font-size: 2rem !important;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.closeCanvas:hover {
    background-color: rgba(207, 207, 207, 0.5);
    transition: 0.1s ease;
}

#overley {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    background: #11111146;
}

.move-to-left {
    transform: translateX(400px);
    transition: 0.1s ease;
}

.d-none {
    transition: 0.1s ease;
}

.move-to-init {
    transform: translateX(0px);
    transition: 0.1s ease;
}

.breadcrumb {
    display: inline-block;
    padding: 0;
    margin: 0;
    background: transparent;
    overflow: hidden;
}

.breadcrumb li {
    float: left;
    padding: 8px 15px 8px 25px;
    background: #fdec82;
    font-size: 16px;
    font-weight: bold;
    color: #777;
    position: relative;
}

.breadcrumb li:before {
    display: none;
}

.breadcrumb li:after {
    content: "";
    display: block;
    border-left: 20px solid #fdec82;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 1;
    -webkit-filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, .5));
    filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, .5));
}

.breadcrumb li.bg-primary:after {
    border-left: 20px solid var(--color4);
}

.breadcrumb li.bg-secondary:after {
    border-left: 20px solid #6C757D;
}

.breadcrumb li.bg-info:after {
    border-left: 20px solid var(--color3);
}

.breadcrumb li.bg-warning:after {
    border-left: 20px solid var(--color2);
}
.bg-warning>a{
    color: var(--color5)!important;
}

.breadcrumb li.bg-danger:after {
    border-left: 20px solid var(--color6);
}
.bg-danger>a{
    color: var(--color1) !important;
}
.bg-danger:hover{
    background-color: var(--color6) !important;
}
.breadcrumb li.bg-success:after {
    border-left: 20px solid var(--color1);
}

.breadcrumb li a {
    font-size: 16px;
    font-weight: bold;
    color: #777;
}

.text-oculto{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* clases personalizadas AM */
:root{
    --color1 : #163A5F;
    --color2: #1D566E;
    --color3: #21ABA5;
    --color4: #45EBA5;
    --color5: #FFFFFF;
    --color6: #e9edf6;
}
.redondeado{
    border-radius: 0.95rem !important;
}
.redondeado-card{
    border-top-left-radius:0.95rem !important ;
    border-top-right-radius: 0.95rem !important;
}
.btn-primary {
    color: var(--color5);
    background-color: var(--color3) !important;
    border-color: var(--color3) !important;
    box-shadow: none;
}

.btn-secondary {
    color: #fff;
    background-color: var(--color1) !important;
    border-color: var(--color1)  !important;
    box-shadow: none;
}
.btn-info {
    color: #fff;
    background-color: var(--color2) !important;
    border-color: var(--color2)  !important;
    box-shadow: none;
}
.btn-warning {
    color: #163A5F !important;
    background-color: var(--color5) !important;
    border-color: var(--color5) !important;
    box-shadow: none;
  }
.bg-degrade{
    color: #fff;
    background: #2C3E50 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-card{
    background-color: var(--color6);
}
.bg-primary{
    background-color: var(--color4) !important;
}
.bg-secondary{
    background-color: var(--color2) !important;
}
.bg-info{
    background-color: var(--color3) !important;
}
.bg-success{
    background-color: var(--color1) !important;
}
.bg-danger{
    color: var(--color1) !important;
    background-color: var(--color6) !important;
}
.bg-warning{
    color: var(--color5) !important;
    background-color: var(--color2) !important;
}
.card-success.card-outline{
    border-top: 3px solid var(--color1) !important;
}
.card-warning.card-outline{
    border-top: 3px solid var(--color2) !important;
}
.card-info.card-outline{
    border-top: 3px solid var(--color3) !important;
}
.card-danger.card-outline{
    border-top: 3px solid var(--color6) !important;
}
.card-primary.card-outline{
    border-top: 3px solid var(--color4) !important;
}
.card-primary .redondeado-card{
    background-color: var(--color2) !important;
}
.text-primary{
    color: var(--color4) !important;
}
a.text-primary:hover, a.text-primary:focus{
    color: var(--color4) !important;
}
.text-warning{
    color: var(--color2) !important;
}
a.text-warning:hover, a.text-warning:focus{
    color: var(--color2) !important;
}
.text-success{
    color: var(--color1) !important;
}
a.text-success:hover, a.text-success:focus{
    color: var(--color1) !important;
}
.text-danger i{
    color: var(--color6) !important;
}
.card-header .text-danger {
    color: var(--color1) !important;
}
a.text-danger:hover, a.text-danger:focus{
    color: var(--color6) !important;
}
.text-secondary{
    color: var(--color2) !important;
}
a.text-secondary:hover, a.text-secondary:focus{
    color: var(--color2) !important;
}
  
@media only screen and (max-width: 479px) {
    .breadcrumb li {
        padding: 8px 15px 8px 30px;
    }
}
=======
>>>>>>> 84dae8ce45752381438fff6e322940c241617103
